body{
    
    background-color: rgb(255, 255, 255);
}

#container{
    width: 1255px;
    height:560px;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(bg.jpg);
    margin: 30px 40px;
    box-shadow: 1px 1px 45px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 1px 45px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 45px -5px rgba(0,0,0,0.75);
}

#calculator{
    width:320px;
    height:520px;
    background-color:whitesmoke;
    margin: 0px auto;
    top:15px;
    position: relative;
    border-radius: 5px;
    
    box-shadow: 1px 1px 31px 4px rgba(255,255,255,0.68);
    -webkit-box-shadow: 1px 1px 31px 4px rgba(255,255,255,0.68);
    -moz-box-shadow: 1px 1px 31px 4px rgba(255,255,255,0.68);
}

#result{
    height:120px;
}

#history{
    text-align: right;
    height:20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color: #888585;
}
#output{
    text-align: right;
    height:60px;
    margin:10px 20px;
    font-size: 25px;
}
#keyboard{
    height: 400px;
}

.operator, .number, .empty{
	width: 50px;
	height: 50px;
	margin: 15px;
	float: left;
	border-radius: 50%;
	border-width: 0;
	font-weight: bold;
    font-size: 15px;
    
    background-color:rgb(197, 197, 197);
}
.number, .empty{
	background-color:whitesmoke;
}
.number, .operator{
    cursor: pointer;
}
.operator:active, .number:active{
    font-size: 25px;
}
/*not working, outline still not removed*/
.operator:focus, .number:focus, .empty:focus{
    outline: 0;
}

button:nth-child(4){
    font-size: 20px;
    background-color: greenyellow;
}
button:nth-child(8){
    font-size: 20px;
    background-color: hotpink;
}
button:nth-child(12){
    font-size: 20px;
    background-color: rgb(152, 90, 197);
}
button:nth-child(16){
    font-size: 20px;
    background-color: rgb(230, 106, 106);
}
button:nth-child(20){
    font-size: 20px;
    background-color: rgb(216, 163, 48);
}


